.about-page {
  background: #161625;
}

.about-container {
  padding: 25px;
}

.about-header {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: #f8fafc;
}

.updated-date {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #94a3b8;
}

.description {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #e2e8f0;
}

.question {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #94a3b8;
}

.answer {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #007bff;
}

.about-page-unorder-page {
  list-style-type: none;
  padding-left: 0px;
}

.page-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
